.uw-site-footer-logo-wrapper {
  width: 100%;
  padding: 1rem;
  background-color: #757575;
}

body.org_default .view-content .uw-site-footer-logo-view-row-wrapper h2,
body.org_default .view-content .uw-site-footer-logo-view-row-wrapper h3 {
  margin: 0;
  padding: 0;
}

.view .view-content .uw-site-footer-logo-view-row-wrapper .uw-site-footer-logo-wrapper img[typeof="foaf:Image"] {
  float: none;
}

.uw-site-footer-logo-view-row-wrapper {
  padding-bottom: 2rem;
}

#edit-field-uw-site-footer-logo div[class*="image-field-caption"] {
  display: none;
}

#edit-field-uw-site-footer-logo fieldset[id*="image-field-caption-format"] {
  display: none;
}

.link-field-title {
  display: none;
}

div[id*="edit-field-uw-site-footer-logo"] .image-preview {
  background-color: #757575;
}

div[id*="edit-field-uw-site-footer-logo"] .image-preview img {
  padding: 1rem;
}
